<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-autowire="byName">
       
	<!-- 用户模块dao start -->
	<bean id="userDao" class="com.docu.user.dao.impl.IbatisDocumentUserDao" />
	
	<!-- 账户模块dao start -->
	<bean id="accountDao" class="com.docu.account.dao.impl.IbatisAccountDao" />
	<bean id="balanceDao" class="com.docu.account.dao.impl.IbatisAccountBalanceDao" />
</beans>
