<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-autowire="byName">

    <!-- 用户模块service start -->
	<bean id="userService" class="com.docu.user.service.impl.DocumentUserServiceImpl"></bean>
	
	<!-- 账户模块service start -->
	<bean id="accountService" class="com.docu.account.service.impl.AccountServiceImpl"></bean>
	<bean id="balanceService" class="com.docu.account.service.impl.AccountBalanceServiceImpl"></bean>
	<bean id="chargeService" class="com.docu.account.service.impl.ChargeServiceImpl"></bean>
</beans>