<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12" style="color:#FFFFFF;">&copy;2014
      <a href="http://www.oocl.com" target="_blank" style="color:#FFFFFF;">Orient overseas container line (China) co., LTD</a>
      <a href="http://www.oocl.com" style="color:#FFFFFF;">oocl.com</a> all right reserved
  </div>
</div>
<!--end-Footer-part--> 