#set($title = "DOCU账务管理系统")
#set($menu = "activity#searchActivity")
$!msg
<style >
	ul.ztree {background: #f0f6e4;overflow-y:scroll;overflow-x:auto;position:absolute;left:200px;}
	.line{height:auto;}
</style>
<!--End-breadcrumbs-->
<div class="container-fluid">
	<div class="widget-box">
		<div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
			<h5>充值查询</h5>
		</div>
		<div class="widget-content tab-content">
			<div id="tab1" class="tab-pane active">
				<div class="widget-content nopadding">
			        <form id="query_page_form" class="form-horizontal" method="post" action="$!envUtil.getContextPath()/activity/index.htm">
						<input type="hidden" name="pageNum" value="1" />
			            <div class="tablesearchcase">
							<div class="dataTables_length" id="">
								<label>活动编号：</label>
								<input class="span2" type="text" id="activityId" name="activityId" value="$!activityId" placeholder="活动编号" />
								<label style="margin-left:50px;" >活动时间：</label>
								<div class="input-append date" id="start_datetimepicker" data-date-format="yyyy-mm-dd">
			                        <input class="span2" size="16" type="text" name="startDate" id="startDate" value="$!startDate" />
			                        <span class="add-on"><i class="icon-remove"></i></span>
			                        <span class="add-on"><i class="icon-th"></i></span>
			                    </div>    
								至
								<div class="input-append date" id="end_datetimepicker" data-date-format="yyyy-mm-dd">
			                        <input class="span2" size="16" type="text" name="endDate" id="endDate" value="$!endDate" />
			                        <span class="add-on"><i class="icon-remove"></i></span>
			                        <span class="add-on"><i class="icon-th"></i></span>
			                    </div>
								<button class="btn btn-success" style="margin-left:80px;" type="submit">查询</button>
								<button class="btn btn-success" style="margin-left:10px;" type="button" onclick="clearQuery();">清空</button>
			                </div>
			            </div>
			        </form>
			        <br />
			    </div>
			</div>	
			<form method="post" action="" id="activity_list_form">
				<input type="hidden" name="action" value="" />
				<input type="hidden" id="event_submit_method" name="" value="1" />	
				
				<div class="container-fluid"> 
    				<!-- InstanceBeginEditable name="content" -->
    		    	<br />
    		    	$control.setTemplate("/common/page.vm").setParameter("form","query_page_form")
    		    	<div class="widget-box">
    		    		<form id="query_page_form" class="form-horizontal" method="post" action="">
    		    			<input type="hidden" name="pageNum" value="1" />
    		    		</form>
    				    <table id="activityDetail_table" class="table table-bordered table-striped with-check">
    				    	<thead>
    				            <tr>
    								<th style="width: 10px;">活动编号</th>
    				            	<th style="width: 5px;">消费金额</th>
    				                <th style="width: 30px;">活动描述</th>
    				                <th style="width: 30px;">活动地点</th>
    								<th id="activityTime_header" style="width: 10px;">活动时间</th>
    								<th style="width: 30px;">操作</th>
    				            </tr>
    				        </thead>
    				        <tbody>
    				            #foreach($activity in $!page.rows)
    				            	<td colspan="6" class="tablegroup nopadding">
    					        		<tr id="$!activity.activityId">
    										<td class="noborder center" style="width: 10px;">
    					                        <span class="">
    					                            $!activity.activityId
    					                        </span>
    					                    </td>
    										<td class="noborder center" style="width: 5px;">
    					                        <span class="">
    					                            $!activity.expenseAmount
    					                        </span>
    					                    </td>
    										<td class="noborder center" style="width: 30px;">
    					                        <span class="">
    					                            $!activity.remark
    					                        </span>
    					                    </td>
    					                    <td class="noborder center" style="width: 30px;">
    					                        <span class="">
    					                            $!activity.location
    					                        </span>
    					                    </td>
    					                    <td class="noborder center" style="width: 10px;">
    					                        <span class="">
    					                            $!activity.activityTime
    					                        </span>
    					                    </td>
    										<td style="width: 30px;" class="center">
												#if($!admin == '1')
												<a class="undo_apply" href="" activityId="$!activity.activityId" data-toggle="modal" onclick=""><span style="color:red">删除</span></a>
												#end
    				                            <a href="$!envUtil.getContextPath()/acct/accountDetails.htm?activityId=$!{activity.activityId}"><span style="color:red">交易明细</span></a>
    				                        </td>
    					                </tr>
    				                </td>
    				             #end
    				        </tbody>
    				    </table>
    				</div>
    				<div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix">
    	             	$control.setTemplate("/common/page.vm").setParameter("form","query_page_form")
    	          	</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="select_date" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">×</button>
        <h3>选择日期</h3>
    </div>
    <div class="modal-body">
        <p id="select_info"></p>
    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" class="btn btn-primary" onclick="">确定</a>
    </div>
</div>
<script src="${docuCdnServer}/js/docu/select.min.js"></script>
<script src="${docuCdnServer}/js/docu/jquery.gritter.min.js"></script>
<script src="${docuCdnServer}/js/docu/jquery.uniform.js"></script>
<script src="${docuCdnServer}/js/docu/jquery.sortElements.js"></script>
<script type="text/javascript" src="${docuCdnServer}/js/docu/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="${docuCdnServer}/js/docu/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>	
<script type="text/javascript" src="${docuCdnServer}/js/docu/docu-datetime.js" charset="UTF-8"></script>
<script>
	function clearQuery(){
		$("#activityId").val("");
		$("#startDate").val("");
		$("#endDate").val("");
	}
	
	$(function(){
    	$(".undo_apply").each(function(index, element){
            $(element).click(function(){
                var activityId=$(this).attr("activityId");
                var form=$("#activity_list_form");
                form.attr("action","$!envUtil.getContextPath()/activity/index.htm?activityId="+activityId);
                form.find("input[name='action']").val("/activity/ActivityAction");
                form.find("#event_submit_method").attr("name","event_submit_do_undo").val("1");
                form.submit();
            });
        });
	});
	
    $(document).ready(function () {
        $('select').select2({minimumResultsForSearch: 1});
        $('.logotip').delay(500).animate({opacity: 1, left: 130});
        //单选，勾选美化调用
        $('input[type=checkbox],input[type=radio],input[type=file]').uniform();
        //勾选全部选中
        $("span.icon input:checkbox, th input:checkbox").click(function () {
            var checkedStatus = this.checked;
            var checkbox;
            if (this.id == 'tab1chka') {
                checkbox = $("#tab1 input[type=checkbox] ");
            }
            else {
                checkbox = $("#tab2 input[type=checkbox] ");
            }
            //var checkbox = $(this).parents('.widget-box').find('tr td:first-child input:checkbox');
            checkbox.each(function () {
                this.checked = checkedStatus;
                if (checkedStatus == this.checked) {
                    $(this).closest('.checker > span').removeClass('checked');
                }
                if (this.checked) {
                    $(this).closest('.checker > span').addClass('checked');
                }
            });
        });
		
		var table = $('#activityDetail_table');
        $('#activityTime_header')
    	.wrapInner('<span title="sort this column"/>')
		.each(function() {
    		var th = $(this),
    			thIndex = th.index(),
    			inverse = false;
    		th.click(function() {
    			table.find('td').filter(function() {
    				return $(this).index() === thIndex;                    
    			}).sortElements(function(a, b) {
    				return $(a).text() > $(b).text() ? inverse ? -1 : 1 : inverse ? 1 : -1;
    			},
    			function() {
    				return this.parentNode;                    
    			});
    			inverse = !inverse;                    
    		});
    	});
    });
</script>