#set($title = "DOCU账务管理系统")
<body class="no-js">
	
	$control.setTemplate("/frontHeader.vm")
	
	$control.setTemplate("/frontNavigation.vm")
	
	<div id="main" class="wrap">
            <div class="error_page">
              <h1>抱歉！页面无法访问……</h1>
              <div class="reason">
                    <p>可能因为：</p>
                    <ul class="reason-list">
                        <li>网址有错误<span><i class="gt">&gt;</i>请检查地址是否完整或存在多余字符</span></li>
                        <li>网址已失效<span><i class="gt">&gt;</i>可能页面已删除</span></li>
                    </ul>
                </div>
          </div>
	</div>
	
	$control.setTemplate("/frontFooter.vm")
	
	
	
</body>
<!-- $exception -->