#set($title = "DOCU账务管理系统")
<link rel="stylesheet" type="text/css" href="${docuCdnServer}/css/front/login.css">
<!-- main Start -->	
<div class="login">
	<div id="container">
        <form method="post">
    		<input type="hidden" name="redirectUrl" value="$!redirectUrl" />
    		<input type="hidden" name="action" value="/LoginAction" />
    		<input type="hidden" name="event_submit_do_login" value="1" />
    		
            <input type="text" id="loginUserId" name="loginUserId" value="$!loginUserId" placeholder="用户账号" />
            <input type="password" id="password" name="password" placeholder="用户密码" />
            <div id="lower">
                <input type="submit" value="Login" onclick="return loginCheck();"/>
            </div>
        </form>
    	<br><br/>
    	<div class="error-tip">
    		#if($errorMsg) <label> $errorMsg </label>#end 
    	</div>
	</div>
</div>
<!-- main End -->
<script type="text/javascript">
 function loginCheck(){
 	var loginUserId = $("#loginUserId");
	var password = $("#password");
	
	if($.trim(loginUserId.val()).length == 0) {
		$('.error-tip').html("<label>用户账号不能为空</label>");
        return false;
    }
	
	if($.trim(password.val()).length == 0) {
		$('.error-tip').html("<label>用户密码不能为空</label>");
		return false;
	}
	return true;
 }
</script> 
<script language="JavaScript" type="text/javascript">  
   function addListener(element,e,fn){
        if(element.addEventListener){      
             element.addEventListener(e, fn, false);      
         } else {      
             element.attachEvent("on" + e, fn);      
          }
   }
   var myloginUserId = document.getElementById("loginUserId");  
   var mypassword = document.getElementById("password");  
   
   addListener(myloginUserId,"click",function(){  
    myloginUserId.placeholder = "";  
   })
   
   addListener(myloginUserId,"focus",function(){  
    myloginUserId.placeholder = "";  
   }) 
   
   addListener(myloginUserId,"blur",function(){  
    myloginUserId.placeholder = "请输入用户账号";  
   })
   
   addListener(mypassword,"click",function(){  
    mypassword.placeholder = "";  
   })
   
   addListener(mypassword,"focus",function(){  
    mypassword.placeholder = "";  
   })
   
   addListener(mypassword,"blur",function(){  
    mypassword.placeholder = "请输入用户密码";  
   })
</script> 
 