#set($title = "DOCU账务管理系统")
logout success
<form method="post" id="loginOut">
	<input type="hidden" name="redirectUrl" value="$!redirectUrl" />
	<input type="hidden" name="action" value="/LoginAction" />
	<input type="hidden" name="event_submit_do_loginOut" value="1" />
</form>
<script language="JavaScript" type="text/javascript">
	$("#loginOut")[0].submit();
</script>