#set($title = "DOCU账务管理系统")
<link rel="stylesheet" type="text/css" href="${docuCdnServer}/css/front/base.css">
<link rel="stylesheet" type="text/css" href="${docuCdnServer}/css/front/style.css">
<link rel="stylesheet" type="text/css" href="${docuCdnServer}/css/front/icons.css">
<link rel="stylesheet" type="text/css" href="${docuCdnServer}/css/front/linkbutton.css">
<link rel="stylesheet" type="text/css" href="${docuCdnServer}/css/front/jquery.fancybox.css?v=2.1.5" media="screen" />
<link rel="stylesheet" type="text/css" href="${docuCdnServer}/css/front/uniform.wyh.css" media="screen" />
<script type="text/javascript" src="${docuCdnServer}/js/front/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="${docuCdnServer}/js/front/modernizr.custom.js"></script>
<!-- top-bar Start -->
$control.setTemplate("/frontHeader.vm")
<!-- top-bar End -->
<!-- header Start -->
$control.setTemplate("/frontNavigation.vm")
<!-- header End -->
<!-- main Start -->
<div id="main" class="main-regsiter wrap">
		
</div>
<!-- main End -->
<!--frontFooter start--->
$control.setTemplate("/frontFooter.vm")
<!--frontFooter End--->
<script src="${docuCdnServer}/js/docu/jquery.min.js"></script> 
<script src="${docuCdnServer}/js/docu/jquery.dataTables.min.js"></script> 
<script src="${docuCdnServer}/js/docu/bootstrap.min.js"></script> 
<script src="${docuCdnServer}/js/docu/matrix.js"></script> 
<script src="${docuCdnServer}/js/docu/select.min.js"></script> 
<script src="${docuCdnServer}/js/docu/docu-iselect.js"></script>
<script src="${docuCdnServer}/js/front/jquery.uniform.js"></script>
<script type="text/javascript" src="${docuCdnServer}/js/front/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript" src="${docuCdnServer}/js/front/docu.public.js"></script>