.no-border{ border:0!important;}
.p0{ padding: 0}
.p10{ padding: 10px;}
.pt0{padding-top: 0}
.ptb5{ padding-top: 5px; padding-bottom: 5px;}
.ptb10{ padding-top: 10px; padding-bottom: 10px;}
.pb10{ padding-bottom: 10px;}
.plbr5{ padding: 0 5px 5px 5px;}
.plbr10{ padding: 0 10px 10px 10px;}
.pl20{ padding-left: 20px;}
.pb0{ padding-bottom: 0}
.m0{ margin: 0}
.ml5{ margin-left: 5px;}
.ml20{ margin-left: 20px;}
.mt0{ margin-top: 0}
.mtb0{ margin-top: 0px; margin-bottom: 0px;}
.ptb0{ padding-top: 0px; padding-bottom: 0px;}
.dn{ display: none;}
.nb{border:0;}
.imagesfilelist div.imagesfile{ float: left; width: 150px; text-align: center; padding-left: 20px; display: block; margin-bottom: 16px;}
.imagesfile-img{ height: 140px; padding: 4px;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,0.2);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
box-shadow: 0 1px 3px rgba(0,0,0,0.1); margin-bottom: 8px; line-height: 140px;}
.imagesfilelist div.uploader{ width: 70px;}
.imagesfilelist div.uploader{background-image: none}


.imagesfilelist div.uploader span.filename{  background-image: url(../img/sprite_left.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;}
.imagesfilelist div.uploader span.filename{ background-position: left -2px; width: 0; overflow: hidden; border-right: 0;padding:2px 5px; text-indent: -999px;background-position: 0 -30px;}
.imagesfilelist div.uploader span.action{ width: 48px;border:0; padding-right: 10px;}


div.uploader.focus span.filename,
div.uploader.hover span.filename,
div.uploader:hover span.filename {
  background-position: 0 -30px;
}

div.uploader.active span.filename,
div.uploader:active span.filename {
  background-position: right -58px;
}

div.uploader.focus.active span.filename,
div.uploader:focus.active span.filename,
div.uploader.focus:active span.filename,
div.uploader:focus:active span.filename {
 background-position: 0 -30px;
}



.steps ul li{list-style-type:none;float: left;margin: 0;
position: relative;
padding: 0;width: 12%;}
.steps ul li a span{ width: 50px; height: 50px; display: inline-block; border-radius: 25px; background: #CDCDCD; vertical-align: middle; line-height: 52px; font-size: 18px; font-weight: bold; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-style: italic; color: #fff}
.steps ul li.on  a span{background: #28b779; color: #fff}
.steps-line{ width: 40%;position: absolute; border-bottom: solid 2px #CDCDCD ; top:24px; }

.steps ul li .steps-line-right{right: 0px;}
.steps ul li .steps-line-left{left:0px;}
.steps ul li.on .steps-line{border-bottom: solid 2px #28b779 ;}


.steps-text ul{ overflow: hidden; position: relative;}
.steps-text ul li{list-style-type:none;float: left;margin: 0;position: relative;padding: 0;}
.steps-text-6  ul li{width: 16%;}
.steps-text ul li a span{ padding: 0 10px;  height: 50px; display: inline-block; border-radius: 10px; background: #CDCDCD; vertical-align: middle; line-height: 52px; font-size: 16px; font-family: "微软雅黑", Helvetica, Arial, sans-serif; color: #fff; position: relative; z-index: 2}
.steps-text ul li.on  a span{background: #28b779; color: #fff}
.steps-line{ width: 40%;position: absolute; border-bottom: solid 2px #CDCDCD ; top:24px;*top: 9px; }

.steps-text ul li .steps-line-right{right: 0px;}
.steps-text ul li .steps-line-left{left:0px;}
.steps-text ul li.on .steps-line{border-bottom: solid 2px #28b779 ;}

/*input select*/
.i-select-container {
position: relative;
display: inline-block;
zoom: 1;
vertical-align: top;
width: 90%;
}
.i-select-container .i-select-choice{
background-color: #fff;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: 1px solid #aaa;
display: block;
overflow: hidden;
white-space: nowrap;
position: relative;
height: 26px;
line-height: 26px;
padding: 0 30px 0 0px;
color: #444;
text-decoration: none;
border-radius: 4px;
}
.i-select-container .i-select-choice div {
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
background: #ccc;
border-left: 1px solid #aaa;
position: absolute;
right: 0;
top: 0;
display: block;
height: 100%;
width: 18px;

}
.i-select-results {
margin: 4px 4px 4px 0;
padding: 0 0 0 4px;
position: relative;
overflow-x: hidden;
overflow-y: auto;
max-height: 200px;
}
.i-select-drop {
background: #fff;
color: #000;
border: 1px solid #aaa;
border-top: 0;
position: absolute;
top: 100%;
-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
-moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
-o-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
z-index: 9999;
width: 100%;
margin-top: -1px;
}
.i-select-container .i-select-choice div b {
background: url('../img/select2.png') no-repeat 0 1px;
display: block;
width: 100%;
height: 100%;
}
.i-select-choice{ background-color: #fff;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;

display: block;
overflow: hidden;
white-space: nowrap;
position: relative;
height: 26px;
line-height: 26px;
padding: 0 28px 0 0px;
color: #444;
text-decoration: none;}
.i-select-dropdown-open .i-select-choice div b {
background-position: -18px 1px;
}
input.i-select-input{  width: 100%;
display: block;
overflow: hidden;
white-space: nowrap;
-o-text-overflow: ellipsis;
-ms-text-overflow: ellipsis;
text-overflow: ellipsis;}
.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
}

.i-select-results li {
list-style: none;
display: list-item;
padding: 3px 7px 4px;
margin: 0;

cursor: pointer;
}

.i-select-results .i-select-highlighted {
background: #3875d7;
color: #fff;
}

.i-select-offscreen {
position: absolute;
left: -10000px;
}

#user-nav{ z-index: 21}


.table th, .table td {
vertical-align: middle!important;
}

.table div.checker{ margin-right: 0;}
.table td{background: #fff;}
.table td:hover{background: #fff;}
.form-horizontal .controls-label{margin-left: 200px;padding-top: 18px; padding-bottom: 15px; width: 430px;}
.form-horizontal .enableEdit .controls-label{ display: block;}
.form-horizontal .enableEdit .controls{ display: none}

.table tr.hover td{}
.table .tr1.hover td{border-top-color:#27a9e3;border-bottom:0;}
.table .tr2.hover td{border-bottom:1px solid #27a9e3;*border-bottom:2px solid #27a9e3;border-top-color:#ddd;}
.table tr.hover td:first-child{
	border-left-color:#27a9e3;
}
.table tr.hover td:last-child{
	border-right:1px solid #27a9e3;
}

.table tr.hover .td-rowspan{border-bottom:1px solid #27a9e3;*border-bottom:2px solid #27a9e3;}
.table tr.hover .noborder-right{border-right:0px!important;}

#sidebar ul li a .label{ position: absolute; top: 10px; right: 10px;}
.content-nav  li{float: left;
list-style-type: none;
margin: 0;
position: relative;
padding: 0;}
.content-nav  li a{padding: 9px 10px;
display: block;
color: #2e353f;
text-align: center;}
.content-nav {border-bottom: 2px solid #dddddd; overflow: hidden; margin: 0;}
.content-nav  li.on{border-bottom: 2px solid #2e353f;}
.select2-drop{z-index: 99999999}
.select2-offscreen{ display: none!important}
.form-horizontal2 .control-label{width:80px}
.form-horizontal2 .controls{margin-left: 100px;}



/*IE7兼容*/
.form-horizontal .controls{*margin-left: 0px;*padding-left: 20px;}
.tab-content{*overflow: hidden!important;}
#content-header{ *margin-top: -18px;}
ul.ztree{ border: 1px solid #ccc; background: #fff!important}

.icon-list,.icon-pencil,.icon-remove,.icon-th{ *background: none; *background-repeat: no-repeat; *background-image:url(../img/icons/icon_ie.png)!important; *width:20px!important; *height: 20px!important; }
.icon-th{ *background-position: -20px 0px;}
.icon-remove{ *background-position: -40px 0px;}

