#set($title = "DOCU账务管理系统")
#set($menu = "user#addUser")
$!msg
<style >
	ul.ztree {background: #f0f6e4;overflow-y:scroll;overflow-x:auto;position:absolute;left:200px;}
	.line{height:auto;}
</style>
<div class="container-fluid">
	<div class="row-fluid">
		<div id="chargeaccount" class="span12">
			<form class="form-horizontal" method="post" action="" name="basic_validate" id="basic_validate" novalidate>
				<div class="widget-box">
					<div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
						<h5>新增用户</h5>
					</div>
					<div class="widget-content nopadding">
						<div class="widget-content "> 
						<div class="control-group">
							<label class="control-label">用户账号：</label>
							<div class="controls">
								<input type="text" name="userId" id="userId" value="$!userId" style="width:120px" placeholder="用户账号" />
								<div class="s_userId" style="color:red;display:none;"></div>
                			</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">用户姓名：</label>
							<div class="controls">
								<input type="text" name="userName" id="userName" value="$!userName" style="width:120px" placeholder="用户姓名"  />
								<div class="s_userName" style="color:red;display:none;"></div>
                			</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">电话号码：</label>
							<div class="controls">
								<input type="text" name="telphoneNumber" id="telphoneNumber" value="18000000000" style="width:120px" placeholder="电话号码"  />
								<div class="s_telphoneNumber" style="color:red;display:none;"></div>
                			</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">登录密码：</label>
							<div class="controls">
								<input type="password" id="password" name="password" style="width:120px" placeholder="登录密码" />
                			</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">用户状态：</label>
							<div class="controls">
								<select style="width:100px" name="active">
                                    <option value="1">在职</option>
                                    <option value="0">离职</option>
                               </select>
                			</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">用户类型：</label>
							<div class="controls">
								<select style="width:100px" name="admin">
									<option value="0">普通用户</option>
                                    <option value="1">管理员</option>
                               </select>
                			</div>
						</div>
						
						<div class="form-actions">
							<input type="hidden" name="action" value="/user/UserAction" />
							<input type="hidden" name="event_submit_do_add_user" value="1" />
							<div class="controls">
								<input type="submit" value="提交" class="btn btn-success" onclick="return onSubmit();" />
								&emsp;&emsp;
								<span style="color:red">$!msg</span>
							</div>
						</div>
					</div>
				</div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
	function onSubmit() {
		var result = true;
		var userId = $("#userId");
		var userName = $("#userName");
		var telphoneNumber = $("#telphoneNumber");
	
		if($.trim(userId.val()).length == 0){
			$('.s_userId').html("<label/>用户账号不能为空</label>");
			$('.s_userId').css('display','block');
        	result = false;
		}
		
		if($.trim(userName.val()).length == 0){
			$('.s_userName').html("<label/>用户姓名不能为空</label>");
			$('.s_userName').css('display','block');
        	result = false;
		}
		
		if($.trim(telphoneNumber.val()).length == 0){
			$('.s_telphoneNumber').html("<label/>电话号码不能为空</label>");
			$('.s_telphoneNumber').css('display','block');
        	result = false;
		} else if($.trim(telphoneNumber.val()).length < 11){
			$('.s_telphoneNumber').html("<label/>电话号码格式不对</label>");
			$('.s_telphoneNumber').css('display','block');
        	result = false;
		}
		return result;
 	}
 </script>
 <script type="text/javascript">
 	function addListener(element, e, fn) {
		if (element.addEventListener) {
			element.addEventListener(e, fn, false);
		} else {
			element.attachEvent("on" + e, fn);
		}
	}
	
	var myUserId = document.getElementById("userId");
	var myUserName = document.getElementById("userName");
   	var myTelphoneNumber = document.getElementById("telphoneNumber");
   
	addListener(myUserId,"click",function(){  
    	myUserId.placeholder = ""; 
		$('.s_userId').css('display','none');
   	})
	addListener(myUserName,"click",function(){  
    	myUserName.placeholder = ""; 
		$('.s_userName').css('display','none');
   	})
   	addListener(myTelphoneNumber,"click",function(){  
    	myTelphoneNumber.placeholder = ""; 
		$('.s_telphoneNumber').css('display','none');
   	})
   
	addListener(myUserId,"focus",function(){  
    	myUserId.placeholder = "";  
		$('.s_userId').css('display','none');
   	})
	addListener(myUserName,"focus",function(){  
    	myUserName.placeholder = "";  
		$('.s_userName').css('display','none');
   	})
   	addListener(myTelphoneNumber,"focus",function(){  
    	myTelphoneNumber.placeholder = "";  
		$('.s_telphoneNumber').css('display','none');
   	})
	
   addListener(myUserId,"blur",function(){  
    	myUserId.placeholder = "请输入用户账号"; 
		$('.s_userId').css('display','none');
   	})
	addListener(myUserName,"blur",function(){  
    	myUserName.placeholder = "请输入用户姓名"; 
		$('.s_userName').css('display','none');
   	})
   	addListener(myTelphoneNumber,"blur",function(){  
    	myTelphoneNumber.placeholder = "请输入电话号码"; 
		$('.s_telphoneNumber').css('display','none');
   	})
</script>