#set($title = "DOCU Financial Management System")
#set($menu = "index")
<!--Begin breadcrumbs-->
<div id="content-header">
	<div id="breadcrumb"> 
	<a title="back homepage" class="current"><i class="icon-home"></i>homepage</a>
	   
	</div>
</div>
<!--End-breadcrumbs--> 
  
<div><h1>$!name. Welcome to login DOCU Financial Management System</h1></div>
<div><h3>username:$!user.userId</h3></div>
  
<!--Action boxes-->
<div class="container-fluid">
</div>
<input type="hidden" id="result" value="$result"/>

<script type="text/javascript">
    $(function(){
    	var result = $("#result").val();
    	if(result == 'success'){
    		alert("修改成功");
    	}
    });
    $(function(){
    	$('.logotip').delay(500).animate({opacity: 1, left: 130});
    });
</script>
