#set($title = "DOCU账务管理系统")
#set($menu = "user#password")
$!msg
<style >
	ul.ztree {background: #f0f6e4;overflow-y:scroll;overflow-x:auto;position:absolute;left:200px;}
	.line{height:auto;}
</style>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form class="form-horizontal" method="post" action="" name="basic_validate" id="basic_validate" novalidate>
				<div class="widget-box">
					<div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
						<h5>修改密码</h5>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">用户账号：</label>
					<div class="controls">
						<input type="text" name="loginUserId" id="loginUserId" value="$!loginUserId" readonly="readonly" autocomplete="off" />
        			</div>
				</div>
				<div class="control-group">
					<label class="control-label"><span style="color:red">* </span>旧密码：</label>
					<div class="controls">
						<input type="password" id="password" name="password" placeholder="旧密码" />
						<div class="s_password" style="color:red;display:none;"></div>
					</div>
                </div>
                <div class="control-group">
					<label class="control-label"><span style="color:red">* </span>新密码：</label>
					<div class="controls">
						<input type="password" id="password1" name="password1" placeholder="新密码" />
						<div class="s_password1" style="color:red;display:none;"></div>
					</div>
                </div>
                <div class="control-group">
					<label class="control-label"><span style="color:red">* </span>确认密码：</label>
					<div class="controls">
						<input type="password" id="password2" name="password2" placeholder="确认密码" />
						<div class="s_password2" style="color:red;display:none;"></div>
					</div>
                </div>
                <div class="form-actions">
					<input type="hidden" name="action" value="/user/UserAction" />
					<input type="hidden" name="event_submit_do_change_password" value="1" />
					<div class="controls">
						<input type="submit" value="提交" class="btn btn-success" onclick="return onSubmit();" />
						&emsp;&emsp;
						<span style="color:red">$!msg</span>
					</div>
				</div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
	function onSubmit() {
		var result = true;
		var password = $("#password");
		var password1 = $("#password1");
		var password2 = $("#password2");
	
		if($.trim(password.val()).length == 0){
			$('.s_password').html("<label/>旧的密码不能为空</label>");
			$('.s_password').css('display','block');
        	result = false;
		}
		
		if($.trim(password1.val()).length == 0){
			$('.s_password1').html("<label/>新的密码不能为空</label>");
			$('.s_password1').css('display','block');
        	result = false;
		}
		if($.trim(password2.val()).length == 0){
			$('.s_password2').html("<label/>新的确认密码不能为空</label>");
			$('.s_password2').css('display','block');
        	result = false;
		}
		return result;
 	}
 </script>
 <script type="text/javascript">
 	function addListener(element, e, fn) {
		if (element.addEventListener) {
			element.addEventListener(e, fn, false);
		} else {
			element.attachEvent("on" + e, fn);
		}
	}
	
	var myPassword = document.getElementById("password");
   	var myPassword1 = document.getElementById("password1");
	var myPassword2 = document.getElementById("password2");
   
	addListener(myPassword,"click",function(){  
    	myPassword.placeholder = ""; 
		$('.s_password').css('display','none');
   	})
   	addListener(myPassword1,"click",function(){  
    	myPassword1.placeholder = ""; 
		$('.s_password1').css('display','none');
   	})
	addListener(myPassword2,"click",function(){  
    	myPassword2.placeholder = ""; 
		$('.s_password2').css('display','none');
   	})
   
	addListener(myPassword,"focus",function(){  
    	myPassword.placeholder = "";  
		$('.s_password').css('display','none');
   	})
	addListener(myPassword1,"focus",function(){  
    	myPassword1.placeholder = "";  
		$('.s_password1').css('display','none');
   	})
   	addListener(myPassword2,"focus",function(){  
    	myPassword2.placeholder = "";  
		$('.s_password2').css('display','none');
   	})
   
	addListener(myPassword,"blur",function(){  
    	myPassword.placeholder = "请输入旧密码"; 
		$('.s_password').css('display','none');
   	})
   	addListener(myPassword1,"blur",function(){  
    	myPassword1.placeholder = "请输入新密码"; 
		$('.s_password1').css('display','none');
   	})
	addListener(myPassword2,"blur",function(){  
    	myPassword2.placeholder = "请输入新的确认密码"; 
		$('.s_password2').css('display','none');
   	})
</script>  