#set($title = "DOCU账务管理系统")
#set($menu = "acct#chargeAccount")
$!msg
<style >
	ul.ztree {background: #f0f6e4;overflow-y:scroll;overflow-x:auto;position:absolute;left:200px;}
	.line{height:auto;}
</style>
<div class="container-fluid">
	<div class="row-fluid">
		<div id="chargeaccount" class="span12">
			<form class="form-horizontal" method="post" action="" name="basic_validate" id="basic_validate" novalidate>
				<div class="widget-box">
					<div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
						<h5>账户充值</h5>
					</div>
					<div class="widget-content nopadding">						
						<table class="control-group" border="0" cellpadding="20" cellspacing="0">
							<tr>
								<td>
									<div class="widget-content "> 
									<div class="control-group">
										<label class="control-label">用户账号：</label>
										<div class="controls">
											<input type="text" name="userId" id="userId" value="$!account.userId" style="width:120px" readonly="readonly" autocomplete="off" />
											<label style="margin-left:10px">用户姓名：</label>
											<input type="text" style="margin-left:15px" name="userName" id="userName" value="$!account.userName" style="width:150px" readonly="readonly" autocomplete="off" />
										</div>
									</div>	
									<div class="control-group">
										<label class="control-label">账户编号：</label>
										<div class="controls">
											<input type="text" name="accountId" id="accountId" value="$!account.accountId" style="width:120px" readonly="readonly" autocomplete="off" />
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">账户余额：</label>
										<div class="controls">
											<input type="text" name="balance" id="balance" value="$!account.balance" style="width:100px" readonly="readonly" autocomplete="off" />
										</div>
									</div>
									
									<div class="control-group">
										<label class="control-label"><span style="color:red">* </span>付款人：</label>
										<div class="controls">
											<input type="text" name="payerId" id="payerId" value="$!payerId" style="width:100px" placeholder="请输入付款人信息" />
											<div class="s_payerId" style="color:red;display:none;"></div>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label"><span style="color:red">* </span>充值金额：</label>
										<div class="controls">
											<input type="text" name="recvAmount" id="recvAmount" style="width:100px" placeholder="请输入充值金额" />
											<div class="s_recvAmount" style="color:red;display:none;"></div>
										</div>
									</div>
									
									#if($!account.userId!='CMN')
									<div class="control-group">
										<label class="control-label"><span style="color:red">* </span>百分比：</label>
										<div class="controls">
											<select style="width:60px" name="percent">
												<option>10</option>
												<option>20</option>
												<option>30</option>
												<option>40</option>
												<option>50</option>
												<option>0</option>
										   </select>
										<label >公共账户所占比例</label>
										</div>
									</div>
									#end
									
									<div class="form-actions">
										<input type="hidden" name="action" value="/acct/AccountAction" />
										<input type="hidden" name="event_submit_do_save_charge" value="1" />
										<div class="controls">
											<input type="submit" value="提交" class="btn btn-success" onclick="return onSubmit();" />
											&emsp;&emsp;
											<span style="color:red">$!msg</span>
										</div>
									</div>
								</td>
								<td>
									<img src="${docuCdnServer}/images/atr/charge.png" />
								</td>
							</tr>
						</table>
					</div>
				</div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
	function onSubmit() {
		var result = true;
		var payerId = $("#payerId");
		var recvAmount = $("#recvAmount");
	
		if($.trim(payerId.val()).length == 0){
			$('.s_payerId').html("<label/>付款人信息不能为空</label>");
			$('.s_payerId').css('display','block');
        	result = false;
		}
		
		if($.trim(recvAmount.val()).length == 0){
			$('.s_recvAmount').html("<label/>充值金额不能为空</label>");
			$('.s_recvAmount').css('display','block');
        	result = false;
		}
		
		return result;
 	}
 </script>
 <script type="text/javascript">
 	function addListener(element, e, fn) {
		if (element.addEventListener) {
			element.addEventListener(e, fn, false);
		} else {
			element.attachEvent("on" + e, fn);
		}
	}
	
	var myPayerId = document.getElementById("payerId");
   	var myRecvAmount = document.getElementById("recvAmount");
   
	addListener(myPayerId,"click",function(){  
    	myPayerId.placeholder = ""; 
		$('.s_payerId').css('display','none');
   	})
   	addListener(myRecvAmount,"click",function(){  
    	myRecvAmount.placeholder = ""; 
		$('.s_recvAmount').css('display','none');
   	})
   
	addListener(myPayerId,"focus",function(){  
    	myPayerId.placeholder = "";  
		$('.s_payerId').css('display','none');
   	})
   	addListener(myRecvAmount,"focus",function(){  
    	myRecvAmount.placeholder = "";  
		$('.s_recvAmount').css('display','none');
   	})
   
	addListener(myPayerId,"blur",function(){  
    	myPayerId.placeholder = "请输入付款人信息"; 
		$('.s_payerId').css('display','none');
   	})
   	addListener(myRecvAmount,"blur",function(){  
    	myRecvAmount.placeholder = "请输入充值金额"; 
		$('.s_recvAmount').css('display','none');
   	})
</script>  