#set($title = "DOCU账务管理系统")
#set($menu = "acct#searchBalance")
$!msg
<style >
	ul.ztree {background: #f0f6e4;overflow-y:scroll;overflow-x:auto;position:absolute;left:200px;}
	.line{height:auto;}
</style>
<!--End-breadcrumbs-->
<div class="container-fluid">
	<div class="widget-box">
		<div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
			<h5>余额查询</h5>
		</div>
		<div class="widget-content tab-content">
			<div id="tab1" class="tab-pane active">
				<div class="widget-content nopadding">
			        <form id="query_page_form" class="form-horizontal" method="post" action="$!envUtil.getContextPath()/acct/index.htm">
						<input type="hidden" name="pageNum" value="1" />
			            <div class="tablesearchcase">
			                <div class="dataTables_length" id="">
								<label>用户账号：</label>
								<input class="span2" style="margin-left:10px;" type="text" id="userId" name="userId" value="$!userId" placeholder="用户账号" />
								<button class="btn btn-success" style="margin-left:10px;" type="submit">查询</button>
								<button class="btn btn-success" style="margin-left:10px;" type="button" onclick="clearQuery();">清空</button>
			                </div>
			            </div>
			        </form>
			        <br />
			    </div>
			</div>			    	
		    <div class="container-fluid"> 
				<!-- InstanceBeginEditable name="content" -->
		    	<br />
		    	$control.setTemplate("/common/page.vm").setParameter("form","query_page_form")
		    	<div class="widget-box">
		    		<form id="query_page_form" class="form-horizontal" method="post" action="">
		    			<input type="hidden" name="pageNum" value="1" />
		    		</form>
				    <table class="table table-bordered table-striped with-check">
				    	<thead>
				            <tr>
								<th style="width: 5px;">账号编号</th>
				            	<th style="width: 5px;">用户账号</th>
				                <th style="width: 5px;">用户姓名</th>
				                <th style="width: 5px;">账户余额</th>
								<th style="width: 5px;">更新时间</th>
								<th style="width: 25px;">操作</th>
				            </tr>
				        </thead>
				        <tbody>
				            #foreach($account in $!page.rows)
				            	<td colspan="6" class="tablegroup nopadding">
					        		<tr id="$!account.userId">
										<td class="noborder center" style="width: 5px;">
					                        <span class="">
					                            $!account.accountId
					                        </span>
					                    </td>
					        			<td class="noborder center" style="width: 5px;">
					                        <span class="">
					                            $!account.userId
					                        </span>
					                    </td>
					                    <td class="noborder center" style="width: 5px;">
					                        <span class="">
					                            $!account.englishName
					                        </span>
					                    </td>
					                    <td class="noborder center" style="width: 5px;">
					                        <span class="">
					                            $!account.balance
					                        </span>
					                    </td>
										<td class="noborder center" style="width: 5px;">
					                        <span class="">
					                            $!account.updateTime
					                        </span>
					                    </td>
										<td style="width: 25px;" class="center">
				                            <p>
												<a href="$!envUtil.getContextPath()/acct/chargeAccount.htm?userId=$!{account.userId}"><span style="color:red">充值</span></a>
												<a href="$!envUtil.getContextPath()/acct/chargeDetails.htm?userId=$!{account.userId}"><span style="color:red">充值查询</span></a>
												<a href="$!envUtil.getContextPath()/acct/billDetails.htm?userId=$!{account.userId}"><span style="color:red">账单查询</span></a>
											</p>
				                        </td>
					                </tr>
				                </td>
				             #end
				        </tbody>
				    </table>
				</div>
				<div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix">
	             	$control.setTemplate("/common/page.vm").setParameter("form","query_page_form")
	          	</div>
			</div>
		</div>
	</div>
</div>
<script src="${docuCdnServer}/js/docu/select.min.js"></script>
<script src="${docuCdnServer}/js/docu/jquery.gritter.min.js"></script>
<script src="${docuCdnServer}/js/docu/jquery.uniform.js"></script>
<script>
	function clearQuery(){
		$("#userId").val("");
		$(".select2-choice span").html("所有");
	}
    $(document).ready(function () {
        $('select').select2({minimumResultsForSearch: 1});
        $('.logotip').delay(500).animate({opacity: 1, left: 130});
        //单选，勾选美化调用
        $('input[type=checkbox],input[type=radio],input[type=file]').uniform();
        //勾选全部选中
        $("span.icon input:checkbox, th input:checkbox").click(function () {
            var checkedStatus = this.checked;
            var checkbox;
            if (this.id == 'tab1chka') {
                checkbox = $("#tab1 input[type=checkbox] ");
            }
            else {
                checkbox = $("#tab2 input[type=checkbox] ");
            }
            //var checkbox = $(this).parents('.widget-box').find('tr td:first-child input:checkbox');
            checkbox.each(function () {
                this.checked = checkedStatus;
                if (checkedStatus == this.checked) {
                    $(this).closest('.checker > span').removeClass('checked');
                }
                if (this.checked) {
                    $(this).closest('.checker > span').addClass('checked');
                }
            });
        });
    });
</script>