	<!-- footer Start -->
	<div id="footer" class="wrap">
		<div class="fl footer-left">
			<div class="copyright f14">
			<p class="pt25">©2014
				<a href="http://www.oocl.com" target="_blank">Orient overseas container line (China) co., LTD</a></a>
				<a href="http://www.oocl.com">oocl.com</a> all right reserved
			</p><br/>
			</div>	
		</div>
	</div>
	<!-- footer End -->
	<!-- goToTop -->
	<div id="goToTop" class="ddpng " style="display: block;"><span class="icon icon-large icon-large-toTop"></span></div>
	<!-- goToTop End -->
	
	